{% extends "blog/base.html" %}  {% block content %}
<article class="media content-section">
  <div class="media-body">
    
    {% for smart_watch in smart_watches.values  %}
    <div class="article-metadata">    
      <a class="mr-2" href="#">{{ smart_watch.name }}</a>
    </div>
    {% for url,price in smart_watch.UP.items %}
    <div class="article-metadata">    
        <a class="mr-2" href="{{ url }}">{{ price }}</a>
      </div>
    {% endfor %}
    {% for key,value in smart_watch.attrs.items  %}
    <div>
      <p class="text-muted">{{ key }}</p>
      <p class="text-muted">{{ value }}</p>
    </div>
    {% endfor %}
    {% endfor %}
</article>
{% endblock content %}